<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= typeof title === 'undefined' ? 'Dev Skills Lab' : title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
      <li>
        <form
          action="/skills/<%= s.id %>?_method=DELETE"
          id="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
  </body>
</html>
